@charset "utf-8";
/* 
 */
 
.icon-color{ 
	color:#3C8DBC;
	float:right;
}

.titobs{
	padding: 5px 0;
	color: #367fa9;
}

.nuevo-reg-icono{
	float: left;
	margin-right: 15px;
}

/*-------------------------------------------*/
/*  ---------  Sección cotizaciones  --------*/
/*-------------------------------------------*/ 
#tx-vmsj > a{ color: #FFF; }

#tx-vmsj > .btn-app{ 
	background: #008d4c;
	border-color: #003b20;
	font-size: 16px;
}

#tx-vmsj > .btn-app:hover{ 
	background: #20af6d;
	border-color: #008d4c; 
}
/*-------------------------------------------*/
/*  ---------  documento.php  --------*/
/*-------------------------------------------*/
#lin1{ font-size:22px; } 
#lin2{ font-size:18px; } 
.membrete3{ font-size:16px; }
.tit_tdf_i{ text-align: left; } .tit_tdf{ text-align: center; } .tit_tdf_d{ text-align: right; }

#bloque_documento{ padding: 8px 15px; margin: 10px 3px 10px 15px !important; } 
.page-header{ padding-bottom: 20px; }

.rojo{ color: #d73925;} .amarillo{ color: #f39c12;} .verde{ color: #00a65a;} 
.azul{ color: #0073b7; } .gris{ color: #666;}

#bloque_data_documento{ margin: 10px 3px 10px 10px !important; width: 21.7% !important; }
.bdatadoc{ padding: 8px; }


